footer {
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}

.footer_menu {
    list-style: none;
}

.footer_menu li a {
    /* color: ; */
    text-decoration: none;
    padding: 10px 0;
}